In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import train and test data
df_train = pd.read_csv('C:\Kaggle\HR_Anaytics/train_hr.csv')
df_test = pd.read_csv('C:\Kaggle\HR_Anaytics/test_hr.csv')

In [3]:
df_train.shape

(54808, 14)

In [4]:
df_train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [6]:
Employee_id_train = df_train['employee_id']
Employee_id_test = df_test['employee_id']

df_train = df_train.iloc[:,1:]
df_test = df_test.iloc[:,1:]

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 12 columns):
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(6), object(5)
memory usage: 2.2+ MB

In [8]:
df_train.describe()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [9]:
df_test.describe()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
count,23490.000000,23490.000000,21678.000000,23490.000000,23490.000000,23490.000000,23490.000000
mean,1.254236,34.782929,3.339146,5.810387,0.358834,0.022776,63.263133
std,0.600910,7.679492,1.263294,4.207917,0.479668,0.149191,13.411750
min,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000
25%,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000
50%,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000
75%,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000
max,9.000000,60.000000,5.000000,34.000000,1.000000,1.000000,99.000000

In [10]:
tr_rows = df_train.shape[0]
te_rows = df_test.shape[0]
y_train = df_train.is_promoted.values
data = pd.concat((df_train, df_test)).reset_index(drop=True)
data.drop(['is_promoted'], axis=1, inplace=True)
print(data.shape)

(78298, 12)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78298 entries, 0 to 78297
Data columns (total 12 columns):
KPIs_met >80%           78298 non-null int64
age                     78298 non-null int64
avg_training_score      78298 non-null int64
awards_won?             78298 non-null int64
department              78298 non-null object
education               74855 non-null object
gender                  78298 non-null object
length_of_service       78298 non-null int64
no_of_trainings         78298 non-null int64
previous_year_rating    72362 non-null float64
recruitment_channel     78298 non-null object
region                  78298 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 7.2+ MB

In [12]:
data_na = (data.isnull().sum() / len(data)) * 100
data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)[:30]
data_na

previous_year_rating    7.581292
education               4.397303
dtype: float64

In [32]:
data['education'] = data['education'].fillna(data['education'].mode()[0])
data['previous_year_rating'] = data['previous_year_rating'].fillna(data['previous_year_rating'].mode()[0])

data['total_score'] = data['no_of_trainings']*data['avg_training_score']

data.drop(['no_of_trainings'], axis=1, inplace=True)
data.drop(['avg_training_score'], axis=1, inplace=True)
data.drop(['recruitment_channel'], axis=1, inplace=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78298 entries, 0 to 78297
Data columns (total 10 columns):
KPIs_met >80%           78298 non-null int64
age                     78298 non-null int64
awards_won?             78298 non-null int64
department              78298 non-null int64
education               78298 non-null int64
gender                  78298 non-null int64
length_of_service       78298 non-null int64
previous_year_rating    78298 non-null int64
region                  78298 non-null int64
total_score             78298 non-null int64
dtypes: int64(10)
memory usage: 6.0 MB

In [34]:
from sklearn.preprocessing import LabelEncoder

cols = ('KPIs_met >80%', 'awards_won?', 'department', 'region', 'gender','education')

for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(data[c].values)) 
    data[c] = lbl.transform(list(data[c].values))

# shape        
print(data.shape)

(78298, 10)

In [35]:
train = data[:tr_rows]
test = data[tr_rows:]

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score

In [37]:
X_train, X_train_test, Y_train, Y_train_test = train_test_split(train,y_train,test_size=0.2, random_state=123)

In [38]:
regr = LogisticRegression()
regr.fit(X_train, Y_train)
Y_pred = regr.predict(X_train_test)
acc_log = round(regr.score(X_train_test, Y_train_test) * 100, 2)
acc_log

91.66

In [39]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_train_test)
acc_knn = round(knn.score(X_train_test, Y_train_test) * 100, 2)
acc_knn

91.1

In [40]:
from sklearn.naive_bayes import GaussianNB
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_train_test)
acc_gaussian = round(gaussian.score(X_train_test, Y_train_test) * 100, 2)
acc_gaussian

91.56

In [41]:
linear_svc = LinearSVC(max_iter=10000)
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_train_test)
acc_linear_svc = round(linear_svc.score(X_train_test, Y_train_test) * 100, 2)
acc_linear_svc

91.78

In [42]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_train_test)
acc_decision_tree = round(decision_tree.score(X_train_test, Y_train_test) * 100, 2)
acc_decision_tree

85.82

In [43]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_train_test)
acc_random_forest = round(random_forest.score(X_train_test, Y_train_test) * 100, 2)
acc_random_forest

90.71

In [44]:
xgb_classifier = XGBClassifier()
xgb_classifier.fit(X_train, Y_train)
acc_xgb_classifier = round(xgb_classifier.score(X_train_test, Y_train_test) * 100, 2)
acc_xgb_classifier

C:\Users\NIHIT\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

92.09

In [45]:
models = pd.DataFrame({
    'Model': ['KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes',   
               'Linear SVC','Decision Tree', 'XGBoost'],
    'Score': [acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_linear_svc, acc_decision_tree, acc_xgb_classifier]})
models.sort_values(by='Score', ascending=False)

                 Model  Score
6              XGBoost  92.09
4           Linear SVC  91.78
1  Logistic Regression  91.66
3          Naive Bayes  91.56
0                  KNN  91.10
2        Random Forest  90.71
5        Decision Tree  85.82

In [47]:
Y_pred = xgb_classifier.predict(test)
subm = pd.DataFrame({
        "employee_id": Employee_id_test,
        "is_promoted": Y_pred
    })
subm.to_csv('HR_Analytics.csv', index=False)

C:\Users\NIHIT\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: